**/.git
**/.gitignore
**/.github
**/node_modules
**/venv
**/.venv
**/env
**/.env*
!**/.env.example
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.coverage
**/htmlcov
**/.vscode
**/.idea
**/*.db
**/*.sqlite3
**/*.log
**/dist
**/build
