# Python bytecode
__pycache__/
*.py[cod]
*.class

# Environments
.env
.env.local
.venv
venv/
ENV/

# Testing & Caches
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite
*.sqlite3
*.db
